<div id='work-cont'>
    <div id='cont-nav'>
        <%= link_to 'Previous', photograph_path(@prev), :id => 'prev' %>
        <%= link_to 'Next', photograph_path(@next), :id => 'next' %>
    </div>
    <div id='content'>
        <% if @photo.media == 'image' %>
            <%= image_tag @photo.link %>
        <% elsif @photo.media == 'video' %>
            <iframe src="<%= @photo.link %>" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
        <% end %>
    </div>
    <div id='description'>
        <b><%= @photo.title %> (<%= @photo.year %>)</b>
        <br />
        <%= @photo.material %>
        <p><%= raw @photo.description %></p>
    </div>
</div>
<div id='work-nav' style='width: <%= @photos.length * 60 + 60 %>px;'>
    <p>View more works like this!</p>
    <% @photos.each do |x| %>
        <a href='<%= photograph_path(x.id) %>'><div class='icon <%= x.id == @photo.id ? "select" : "" %>' style='background-position: <%= x.icon %>px 0px;'%></div></a>
    <% end %>
</div>