<div id='work-cont'>
    <div id='cont-nav'>
        <%= link_to 'Previous', design_path(@prev), :id => 'prev' %>
        <%= link_to 'Next', design_path(@next), :id => 'next' %>
    </div>
    <div id='content'>
        <% if @design.media == 'image' %>
            <%= image_tag @design.link %>
        <% elsif @design.media == 'video' %>
            <iframe src="<%= @design.link %>" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
        <% end %>
    </div>
    <div id='description'>
        <b><%= @design.title %> (<%= @design.year %>)</b>
        <br />
        <%= @design.material %>
        <p><%= raw @design.description %></p>
    </div>
</div>
<div id='work-nav' style='width: <%= @designs.length * 60 + 60 %>px;'>
    <p>View more works like this!</p>
    <% @designs.each do |x| %>
        <a href='<%= design_path(x.id) %>'><div class='icon <%= x.id == @design.id ? "select" : "" %>' style='background-position: <%= x.icon %>px 0px;'%></div></a>
    <% end %>
</div>