<div id='work-cont'>
    <div id='cont-nav'>
        <%= link_to 'Previous', three_d_path(@prev), :id => 'prev' %>
        <%= link_to 'Next', three_d_path(@next), :id => 'next' %>
    </div>
    <div id='content'>
        <% if @three.media == 'image' %>
            <%= image_tag @three.link %>
        <% elsif @three.media == 'video' %>
            <iframe src="<%= @three.link %>" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
        <% end %>
    </div>
    <div id='description'>
        <b><%= @three.title %> (<%= @three.year %>)</b>
        <br />
        <%= @three.material %>
        <p><%= raw @three.description %></p>
    </div>
</div>
<div id='work-nav' style='width: <%= @threes.length * 60 + 60 %>px;'>
    <p>View more works like this!</p>
    <% @threes.each do |x| %>
        <a href='<%= three_d_path(x.id) %>'><div class='icon <%= x.id == @three.id ? "select" : "" %>' style='background-position: <%= x.icon %>px 0px;'%></div></a>
    <% end %>
</div>