<div id='work-cont'>
    <div id='cont-nav'>
        <%= link_to 'Previous', illustration_path(@prev), :id => 'prev' %>
        <%= link_to 'Next', illustration_path(@next), :id => 'next' %>
    </div>
    <div id='content'>
        <% if @illustration.media == 'image' %>
            <%= image_tag @illustration.link %>
        <% elsif @illustration.media == 'video' %>
            <iframe src="<%= @illustration.link %>" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
        <% end %>
    </div>
    <div id='description'>
        <b><%= @illustration.title %> (<%= @illustration.year %>)</b>
        <br />
        <%= @illustration.material %>
        <p><%= raw @illustration.description %></p>
    </div>
</div>
<div id='work-nav' style='width: <%= @illustrations.length * 60 + 60 %>px;'>
    <p>View more works like this!</p>
    <% @illustrations.each do |x| %>
        <a href='<%= illustration_path(x.id) %>'><div class='icon <%= x.id == @illustration.id ? "select" : "" %>' style='background-position: <%= x.icon %>px 0px;'%></div></a>
    <% end %>
</div>