<div id='work-cont'>
    <div id='cont-nav'>
        <div id='prev'>Previous</div>
        <div id='next'>Next</div>
    </div>
    <div id='content'>
        <% if @illustration.media == 'image' %>
            <%= image_tag @illustration.link %>
        <% elsif @illustration.media == 'video' %>
            <iframe src="<%= @illustration.link %>" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
        <% end %>
    </div>
    <div id='description'>
        <b><%= @illustration.title %> (<%= @illustration.year %>)</b>
        <br />
        <%= @illustration.material %>
        <p><%= @illustration.description %></p>
    </div>
</div>
<div id='work-nav'>
    <% @illustrations.each do |x| %>
        <div class='icon' style='background-position: <%= x.icon %>px 0px;'%>></div>
    <% end %>
</div>